<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Results</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='output.css') }}">
</head>
<body>
    <h1>Search Results</h1>
    <div class="results">
        <p>Count Average: {{ count_avg }}</p>
        <p>Price Average: {{ price_avg }}</p>
        <p>Rating Average: {{ rating_avg }}</p>
        <ul>
            {% for query in queries %}
                <li>
                    <strong>Title:</strong> {{ query.title }}<br>
                    <strong>Price:</strong> {{ query.price }}<br>
                    <strong>Description:</strong> {{ query.description }}<br>
                    <strong>Category:</strong> {{ query.category }}<br>
                    <strong>Image:</strong> <img src="{{ query.image }}" alt="{{ query.title }}" style="max-width: 100px;"><br>
                    <strong>Rate:</strong> {{ query.rate }}<br>
                    <strong>Count:</strong> {{ query.count }}
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>