body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: #343a40;
    margin-bottom: 20px;
}

.results {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90vw;
    height: 100vh;
    overflow-y: auto;
}

.results p {
    color: #495057;
    margin: 10px 0;
}

.results ul {
    list-style-type: none;
    padding: 0;
}

.results li {
    background: #e9ecef;
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #495057;
}

.results li:hover {
    background: #dee2e6;
}

.results img {
    max-width: 100px;
    display: block;
    margin-top: 10px;
}